In [7]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.DataFrame({'X': [4, 5, 2, 3, 1], 'Y': [2, 1, 4, 3, 5]})
data

   X  Y
0  4  2
1  5  1
2  2  4
3  3  3
4  1  5

In [6]:
x_mean = data['X'].mean()
print(x_mean)

y_mean = data['Y'].mean()
print(y_mean)

3.0
3.0

In [8]:
r, p_value = stats.pearsonr(x=data.X, y=data.Y)

In [9]:
r

-1.0

In [10]:
p_value

0.0