In [1]:
import pandas as pd
from scipy import stats

In [3]:
url = 'https://stepik.org/media/attachments/lesson/8083/genetherapy.csv'

In [5]:
data = pd.read_csv(url)
data

    expr Therapy
0    100       A
1     96       A
2    101       A
3     95       A
4    103       A
5     99       A
6     97       A
7     96       A
8     98       A
9    106       A
10   106       A
11   104       A
12    95       A
13    95       A
14   105       A
15   100       B
16   100       B
17    95       B
18    84       B
19   101       B
20   101       B
21    95       B
22   106       B
23   105       B
24    97       B
25   103       B
26    94       B
27    94       B
28   100       B
29   107       B
30    91       C
31    96       C
32    94       C
33    96       C
34    91       C
35    85       C
36    98       C
37    93       C
38   100       C
39    85       C
40   101       C
41   101       C
42    90       C
43    98       C
44    97       C
45    92       D
46    85       D
47    95       D
48    89       D
49    91       D
50    91       D
51    99       D
52    94       D
53    97       D
54    94       D
55    87       D
56    93       D
57    96       D
58    92       D
59    90       D

In [12]:
data[data.Therapy == 'A']

    expr Therapy
0    100       A
1     96       A
2    101       A
3     95       A
4    103       A
5     99       A
6     97       A
7     96       A
8     98       A
9    106       A
10   106       A
11   104       A
12    95       A
13    95       A
14   105       A

In [11]:
A = data[data.Therapy == 'A']["expr"]
B = data[data.Therapy == 'B']["expr"]
C = data[data.Therapy == 'C']["expr"]
D = data[data.Therapy == 'D']["expr"]
A

0     100
1      96
2     101
3      95
4     103
5      99
6      97
7      96
8      98
9     106
10    106
11    104
12     95
13     95
14    105
Name: expr, dtype: int64

In [19]:
F, p_value = stats.f_oneway(A, B, C, D)

In [20]:
F

8.03730248114399

In [21]:
p_value

0.0001524972289522953